<div class="grid-container">
  <div class="dashboard">ChartJS</div>
  <img class="photo" src="./assets/img/LogoChartJS.png" alt="exit">
  <mat-grid-list cols="3" rowHeight="350px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-card title="Databases">
        <app-pie-db></app-pie-db>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-card title="Servers">
        <app-pie-server></app-pie-server>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <app-card title="DB Backups">
        <app-pie-dbbackup></app-pie-dbbackup>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <app-card title="DB Size">
        <app-graph-dbsize></app-graph-dbsize>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <app-card title="DB Size">
        <app-graph-dbsize2></app-graph-dbsize2>
      </app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <app-card title="Disk Usage">
        <app-graph-disk-usage></app-graph-disk-usage>
      </app-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
