<mat-sidenav-container class="main-panel">
    <mat-toolbar class="color">
      <div class="navbar-dashboard">DASHBOARD</div>
      <div class="button-exit">
        <button mat-button [matMenuTriggerFor]="exit">
          <div class="photo">
            <img src="../../../assets/img/LogoMenu.png" alt="exit">
            <span class="caret"></span>
          </div>
        </button>
      </div>
      <mat-menu #exit="matMenu">
        <button mat-menu-item class="item" routerLink="/navbar/dashboardChartJS">ChartJS</button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="item" (click)="signOutWithCognito()">Déconnexion</button>
      </mat-menu>
    </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
