table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.green-chip{
  background-color: #00FF00;
}

.red-chip{
  background-color: #FF0000;
}

.blue-chip{
  background-color: #0000FF;
}
