<div class="grid-container">
  <div class="dashboard">GoogleCharts</div>
  <img class="photo" src="./assets/img/LogoGoogleCharts.png" alt="exit">
  <mat-grid-list cols="3" rowHeight="350px">

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Databases
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-pie-db-GoogleCharts></app-pie-db-GoogleCharts>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Servers
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-pie-dbserver-GoogleCharts></app-pie-dbserver-GoogleCharts>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            DB Backups
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-pie-dbbackup-GoogleCharts></app-pie-dbbackup-GoogleCharts>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            DB Size
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
