.dropdown-divider
{
  height:0;
  margin:.5rem 0;
  border-top:1px solid #e9ecef
}

img
{
  max-width:100%;
}

.photo
{
  height:30px;
  width:30px;
  border-radius:50%;
  overflow:hidden;
  margin-left:10px;
  margin-top:8px
}

.navbar-dashboard
{
  color:#fff;
  margin-left:40px;
  margin-top:20px;
  font-size:.99925rem
}

.main-panel
{
  position:relative;
  width:100%;
  min-height:100vh;
  border-top:5px solid;
  border-image: linear-gradient(to right, #ff512f, #f09819) 1 0 0 0;
  background:linear-gradient(#1e1e2f,#1e1e24)
}

.caret
{
  position:absolute;
  color: white;
  left:80%;
  top:55%;
  border-top:5px dashed;
  border-right:5px solid transparent;
  border-left:5px solid transparent;
  margin-left:5px
}

.button-exit
{
  position : absolute;
  top: 15px;
  right: 30px;
}

