<div class="main-panel">
      <div class="navbar-dashboard">DASHBOARD</div>
      <div class="button-exit">
          <button mat-button [matMenuTriggerFor]="exit">
            <div class="photo">
              <img src="../assets/img/anime3.png">
              <span class="caret"></span>
            </div>
          </button>
      </div>
      <mat-menu #exit="matMenu">
        <button mat-menu-item>Profils</button>
        <button mat-menu-item>Paramètres</button>
        <span class="dropdown-divider"></span>
        <button mat-menu-item (click)="signOutWithCognito()">Déconnexion</button>
      </mat-menu>
  <iframe src="http://localhost:3000/d-solo/8DZ31-Lmz/grafanaproject?orgId=1&from=1675439075651&to=1676058275651&theme=dark&panelId=2" width="450" height="200"></iframe>
</div>
