 <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- UUID Column -->
    <ng-container matColumnDef="uuid">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header sortActionDescription="Sort by UUID"> UUID </th>
      <td mat-cell *matCellDef="let element"> {{element.host_uuid}} </td>
    </ng-container>

    <!-- HostName Column -->
    <ng-container matColumnDef="hostname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> HostName </th>
      <td mat-cell *matCellDef="let element"> {{element.hostname_fqdn}} </td>
    </ng-container>

    <!-- IP Column -->
    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by IP"> IP </th>
      <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
    </ng-container>

    <!-- OS Column -->
    <ng-container matColumnDef="os">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by OS"> OS </th>
      <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Version"> Version </th>
      <td mat-cell *matCellDef="let element"> {{element.current_version}} </td>
    </ng-container>

    <!-- Last Seen Column -->
    <ng-container matColumnDef="lastseen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Last Seen"> Last Seen </th>
      <td mat-cell *matCellDef="let element"> {{element.last_seen}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status"> Status </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngIf="element.Status==='RUNNING'" class="green-chip">{{element.Status}}</mat-chip>
          <mat-chip *ngIf="element.Status==='UNKNOWN'" class="red-chip">{{element.Status}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <!-- Creation Column -->
    <ng-container matColumnDef="create">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Create"> Create </th>
      <td mat-cell *matCellDef="let element"> {{element.create_date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
