.grid-container {
  margin-left: 20px;
  margin-right: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard
{
  float: left;
  color: white;
  margin-left: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

.photo
{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 10px;
}
